<div>
    Vous trouverez la liste des missions dans cette page
    <table class="table">
        <thead>
            <tr class="bg-secondary text-light">
                <th scope="col">Titre la la mission</th>
                <th scope="col">Déscription </th>
                <th scope="col">Pays </th>
                <th scope="col">Type </th>
                <th scope="col" colspan="2" class="text-center">Action</th>

            </tr>
        </thead>
        {% for mission in missionList %}
        <tbody>
            <tr>
                <td>{{ mission.title}}</td>
                <td>{{ mission.description}}</td>
                <td>{{ mission.country}}</td>
                <td>{{ mission.type}}</td>
                <td>
                    <a href="{{ path('app_mission_show', {'id': mission.id})}}">Détail</a>
                </td>
                <td>
                    <a href="{{ path('app_mission_edit', {'id': mission.id})}}">Modifier</a>
                </td>
            </tr>

        </tbody>
        {% endfor %}
    </table>
</div>
<div>
    {{ knp_pagination_render(missionList,
    '@KnpPaginator/Pagination/twitter_bootstrap_v4_pagination.html.twig')}}
</div>