{% extends 'base.html.twig' %}

{% block title %}Ajouter des missions{% endblock %}

{% block body %}
<h1>Ajouter des missions</h1>

Vous pouvez ajouter des missions dans cette page

<hr>
{{ form_start(form)}}
<div class="row">
    <div class="col-md-12">
        {{ form_row(form.title)}}
        {{ form_row(form.description)}}
    </div>
    <div class="col-md-6">
        {{ form_row(form.agent)}}
        {{ form_row(form.target)}}
        {{ form_row(form.hideout)}}
    </div>
    <div class="col-md-3">
        {{ form_row(form.contact)}}
        {{ form_row(form.country)}}
        {{ form_row(form.speciality)}}
        {{ form_row(form.type)}}
        {{ form_row(form.status)}}
    </div>
</div>
<br>
{{ form_row(form.submit)}}
{{ form_end(form)}}

{% endblock %}