{% extends 'base.html.twig' %}

{% block title %}Détail d'une mission{% endblock %}

{% block body %}
<h1>Détail de la mission - <b>{{ mission.title | upper }}</b>...</h1>

Vous trouvez dans cette page les détails de la mission

<hr>
<b>
    <p>Titre de la mission</p>
</b>
{{ mission.title}} <br><br>
<b>
    <p>Description de la mission</p>
</b>
{{ mission.description }} <br><br>

<b>
    <p>Nom de(s) l'agent(s) concerné(s) par la mission</p>
</b>
{% for agent in agents %}
<ul>
    <li>
        {{ agent.fullName}}
    </li>
</ul>
{% endfor %}


<b>
    <p>Nom de(s) cible(s)</p>
</b>
{% for target in targets %}
<ul>
    <li>
        {{ target.fullName}}
    </li>
</ul>
{% endfor %}



<b>
    <p>Specialité(s) demandée(s)</p>
</b>
{{ speciality.name}} <br><br>

<a href="{{ path('app_mission')}}">Retour</a>
{% endblock %}