{% extends 'base.html.twig' %}

{% block title %}Détail d'une mission{% endblock %}

{% block body %}
<h1>Détail de la mission - <b>{{ mission.title | upper }}</b>...</h1>

Vous trouvez dans cette page les détails de la mission

<hr>
<b>
    <p>Titre de la mission</p>
</b>
{{ mission.title}} <br><br>
<b>
    <p>Description de la mission</p>
</b>
{{ mission.description }} <br><br>

<b>
    <p>Nom de(s) l'agent(s) concerné(s) par la mission</p>
</b>
{% for agent in agents %}
<ul>
    <li>
        {{ agent.fullName}}
    </li>
</ul>
{% endfor %}


<b>
    <p>Nom de(s) cible(s)</p>
</b>
{% if targets %}
{% for target in targets %}
<ul>
    <li>
        {{ target.fullName}}
    </li>
</ul>
{% else %}
...
{% endfor %}
{% endif %}

<b>
    <p>Nom de(s) planque(s)</p>
</b>
{% if hideouts %}
{% for hideout in hideouts %}
<ul>
    <li>
        {{ hideout.code}}
        {{ hideout.address}}
    </li>
</ul>
{% else %}
...
{% endfor %}
{% endif %}



<b>
    <p>Specialité(s) demandée(s)</p>
</b>

{% if type %}
{{ speciality.name}} <br>
{% else %}
...
{% endif %}


<b>
    <p>Type de la mission</p>
</b>
{% if type %}
{{ type.name}} <br>
{% else %}
...
{% endif %}

<b>
    <p>Statut de la mission</p>
</b>
{% if status %}
{{ status.name}} <br>
{% else %}
...
{% endif %}

<br><br>

<a href="{{ path('app_mission')}}">Retour</a>
{% endblock %}