{% extends 'base.html.twig' %}

{% block title %}Détail d'une mission{% endblock %}

{% block body %}
<h1>Détail de la mission - <span class="text-info">{{ mission.title | upper }}...</span></h1>

Vous trouvez dans cette page les détails de la mission

<hr>

<div class="row">
    <div class="col-md-12">
        <b>Titre de la mission</b><br>
        {{ mission.title}} <br><br>
        <b>Description de la mission</b><br>
        {{ mission.description }} <br><br>
    </div>
    <div class="col-md-6">
        <b>Nom de(s) l'agent(s) concerné(s) par la mission</b> <br>
        {% for agent in mission.agent %}
        <ul>
            <li>
                {{ agent.fullName}}
            </li>
        </ul>
        {% endfor %}
    </div>
    <div class="col-md-6">
        <b> Nom de(s) cible(s) </b><br>
        {% if mission.target %}
        {% for target in mission.target %}
        <ul>
            <li>
                {{ target.fullName}}
            </li>
        </ul>
        {% else %}
        ...
        {% endfor %}
        {% endif %}
    </div>
    <div class="col-md-6">
        <b>Nom de(s) planque(s)</b><br>
        {% if mission.hideout %}
        {% for hideout in mission.hideout %}
        <ul>
            <li>
                {{ hideout.code}}
                {{ hideout.address}}
            </li>
        </ul>
        {% else %}
        ...
        {% endfor %}
        {% endif %}

    </div>

    <div class="col-md-6">
        <b>Pays de la mission</b><br>
        {% if mission.country %}
        {{ mission.country.name}}
        {% else %}
        ...
        {% endif %}
    </div>

    <div class="col-md-6">
        <b>Specialité(s) demandée(s)</b><br>
        {% if mission.speciality %}
        {{ mission.speciality.name}} <br>
        {% else %}
        ...
        {% endif %}
    </div>

    <div class="col-md-6">
        <b>Type de la mission</b><br>
        {% if mission.type %}
        {{ mission.type.name}} <br>
        {% else %}
        ...
        {% endif %}
    </div>

    <div class="col-md-6">
        <b>Statut de la mission</b><br>
        {% if mission.status %}
        {{ mission.status.name}} <br>
        {% else %}
        ...
        {% endif %}
        <br><br>

    </div>

    <div class="col-md-6">
        <b>Nom de(s) contact(s) de la mission</b> <br>
        {% if mission.contact %}
        {% for contact in mission.contact %}
        <ul>
            <li>
                {{ contact.fullName}}
            </li>
        </ul>
        {% else %}
        ...
        {% endfor %}
        {% endif %}
    </div>
</div>

<a href="{{ path('app_mission')}}">Retour</a>
{% endblock %}