<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon"
        href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    <link rel="stylesheet" href="{{ asset('assets/css/style.css')}}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</head>

<body>
    {# Header Nav #}
    <div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
            <a class="navbar-brand" href="#"> <img src="{{ asset('assets/img/secret_agent.jpeg')}}"
                    alt="Photo agent secret" height="100px"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <!-- Mission header -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Mission
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{{ path('app_mission')}}">Afficher</a>
                            <a class="dropdown-item" href="{{ path('app_mission_add')}}">Ajouter</a>
                            {# <a class="dropdown-item" href="{{ path('app_mission_edit')}}">Modifier</a> #}
                            <a class="dropdown-item" href="{{ path('app_mission_delete')}}">Supprimer</a>
                        </div>
                    </li>
                    <!-- Agent header -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Agent
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{{ path('app_agent')}}">Afficher</a>
                            <a class="dropdown-item" href="{{ path('app_agent_add')}}">Ajouter</a>
                            <a class="dropdown-item" href="{{ path('app_agent_delete')}}">Supprimer</a>
                        </div>
                    </li>
                    <!-- Speciality header -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Specialité
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{{ path('app_speciality')}}">Afficher</a>
                            <a class="dropdown-item" href="{{ path('app_speciality_add')}}">Ajouter</a>
                            <a class="dropdown-item" href="{{ path('app_speciality_delete')}}">Supprimer</a>
                        </div>
                    </li>
                    <!-- Target header -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Cible
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{{ path('app_target')}}">Afficher</a>
                            <a class="dropdown-item" href="{{ path('app_target_add')}}">Ajouter</a>
                            <a class="dropdown-item" href="{{ path('app_target_delete')}}">Supprimer</a>
                        </div>
                    </li>
                    <!--  Hideout header -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Planque
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{{ path('app_hideout')}}">Afficher</a>
                            <a class="dropdown-item" href="{{ path('app_hideout_add')}}">Ajouter</a>
                            <a class="dropdown-item" href="{{ path('app_hideout_delete')}}">Supprimer</a>
                        </div>
                    </li>
                    <!--  Country header -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Pays
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{{ path('app_country')}}">Afficher</a>
                            <a class="dropdown-item" href="{{ path('app_country_add')}}">Ajouter</a>
                            <a class="dropdown-item" href="{{ path('app_country_delete')}}">Supprimer</a>
                        </div>
                    </li>
                    <!--  Contact header -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Contact
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{{ path('app_contact')}}">Afficher</a>
                            <a class="dropdown-item" href="{{ path('app_contact_add')}}">Ajouter</a>
                            <a class="dropdown-item" href="{{ path('app_contact_delete')}}">Supprimer</a>
                        </div>
                    </li>
                    <!--  Mission Type header -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Type de mission
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{{ path('app_type')}}">Afficher</a>
                            <a class="dropdown-item" href="{{ path('app_type_add')}}">Ajouter</a>
                            <a class="dropdown-item" href="{{ path('app_type_delete')}}">Supprimer</a>
                        </div>
                    </li>
                    <!--  Mission Status header -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Statut de mission
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{{ path('app_status')}}">Afficher</a>
                            <a class="dropdown-item" href="{{ path('app_status_add')}}">Ajouter</a>
                            <a class="dropdown-item" href="{{ path('app_status_delete')}}">Supprimer</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="container-fluid px-5">
        {% block body %}{% endblock %}
    </div>
    {% block javascript %}
    <script src="asset('assets/js/bootstrap.bundle.js"></script>
    {% endblock %}

</body>

</html>